<div class="ng-datepicker">
  <input type="text" class="form-control" ng-model="inputDateString" ng-click="toggle($event)">
  <span class="indicator glyphicon glyphicon-calendar" ng-click="toggle($event)"></span>
  <div class="datepicker" ng-show="isOpened" ng-click="clickHandle($event)">
    <div class="header">
      <button class="btn-pre-year">
        <i class="glyphicon glyphicon-chevron-left"></i>
      </button>
      <button class="btn-pre-month">
        <i class="glyphicon glyphicon-menu-left"></i>
      </button>
      <time class="date">
        <span class="year">{{year}}年</span>
        <span class="month">{{month + 1}}月</span>
      </time>
      <button class="btn-next-month">
        <i class="glyphicon glyphicon-menu-right"></i>
      </button>
      <button class="btn-next-year">
        <i class="glyphicon glyphicon-chevron-right"></i>
      </button>
    </div>
    <div class="body">
      <table>
        <thead>
          <tr>
            <td>日</td>
            <td>一</td>
            <td>二</td>
            <td>三</td>
            <td>四</td>
            <td>五</td>
            <td>六</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="week in weeks">
            <td ng-repeat="day in week" ng-bind="day.date" ng-click="selectDate(day)" ng-class="{'disabled': month !== day.month, 'active': (inputDate.year === day.year && inputDate.month === day.month && inputDate.date === day.date)}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer"></div>
  </div>
</div>